
<style>
#banner {
  width : 100%;
  height : 20px;
  background-image : linear-gradient(blue, gray);
  display : table;
  padding :0;
  margin-top:0;
  
}
#menu li{
	display : table-cell;
	width: 200px;
	
	
}

#menu a{
	color : white;
	text-decoration : none;
	display : inline-block;
	line-height : 50px;
	padding-left : 10px;
	padding-right : 10px;
	font-family: sans-serif;
}

.compte{
	
	position : absolute;
	right : 10px;
	
}
h2{
	color : white;
	text-align: center;
	margin : 50px;
	font-family : Arial;
}
li a:hover {
  background-color: #555;
  color: white;
}
</style>

<div id="banner">
		<h2>LogiCode101</h2>
		
			<ul id=menu>
			<?php
			$x=0;
			if($x = 0){
			?>
				<li class=compte><a href='?action=afficher_profil'>Bienvenue</a></li>
				<li class=compte><a href='?action=connecter'>Se Connecter</a></li>
			<?php	}
			else{
			
				echo "<li class=compte><a href='<?action=afficher_profil>'>Bonjour ".$_SESSION["connected"]."</a></li>"
				?>
				<li class=compte><a href='?action=deconnecter'>Se d&eacute;connecter</a></li>
			<?php
			}
			?>
				<li><a href='<?action=afficher_profil&nom_categorie="programmation">'>Programmation</a></li>
				<li><a href='<?action=afficher_profil&nom_categorie="linux">'>Linux</a></li>
				<li><a href='<?action=afficher_profil&nom_categorie="securite">'>S&eacute;curit&eacute;</a></li>
			
				
			</ul>		
		
</div>


