﻿<style>
b{
	color : green;
}
.com{
	color : grey;
}
.demo{
	margin : 10px;
	padding : 20px;
	border: 2px blue dotted;
	
}
</style>



<h3> Linux 101 </h3>


<h5>Les commandes Bash</h5>
<p>Bash est un interpr&eacute;teur de commande. Il est le plus utilis&eacute;.</p>
<p> Il y plusieurs commandes en bash peuvent nous aider &agrave; nous d&eacute;placer dans les r&eacute;pertoires. Il faut savoir que tout est consid&eacute;r&eacute; comme un fichier dans Linux.</p>

<p> Voici quelques exemples de commande de base : </p>
<p class="demo"> <b>cd :</b> Changer de r&eacute;pertoire <br />
<b>ls :</b> liste des fichiers du r&eacute;pertoire. <br />
<b>mkdir :</b> cr&eacute;er un r&eacute;pertoire <br />
<b>rmdir :</b> effacer un r&eacute;pertoire <br />
<b>rm :</b> retirer <br />
<b>mv :</b> d&eacute;placer un fichier <br />
<b>cp :</b> copier un ficher <br />
<b>cat :</b> voir le contenu d'un fichier <br />


</p>

<p> Si on veut plus d'information sur une commande, on utilise <b>man</b>.<p/>

<p class="demo"> <b>man </b>ls</p>



<p> On peut aussi ajouter des attributs aux commandes </p>

<p class="demo"> <b>ls-a </b><br /> &nbsp;&nbsp;&nbsp;&nbsp;<i> pour donner plus d'information sur les fichiers </i></p>
<br />





