<style>
b{
	color : green;
}
.com{
	color : grey;
}
.demo{
	margin : 10px;
	padding : 20px;
	border: 2px blue dotted;
	
}
</style>



<h3> Les structures de contrôle en c++! </h3>

<h5>Les conditions</h5>
<p> Afin que notre programme soit «capable de prendre des d&eacute;cisions», on doit lui donner des conditions. Cela lui permettra
de faire des diff&eacute;rentes actions selon la situation d&eacute;sir&eacute;e.</p>
<p> Le <b>if</b> nous permet d'ex&eacute;cuter une portion du code seulement si la condition est vraie (true). Si la condition s'av&egrave;re fausse, cette partie est ignor&eacute;e et on passe &agrave; la prochaine portion du code.</p>

<p class="demo"> <b>if </b>(Condition){<br /> &nbsp;&nbsp; <i>code &agrave; effectuer</i><br /> }</p>

<p> Si on veut qu'un code diff&eacute;rent s'ex&eacute;cute lorsque la condition est fausse, on utilise <b>else</b>

<p class="demo"> <b>if </b>(Condition){<br /> &nbsp;&nbsp; <i>code &agrave; effectuer si condition vraie</i><br /> } <br /><b>else </b>{<br />&nbsp;&nbsp; <i>code &agrave; effectuer si condition fausse</i><br /> }</p>

<p> On peut aussi mettre un <b>if </b> dans un autre <b>if</b>. </p>

<p class="demo"> <b>if </b>(Condition){<br /> &nbsp;&nbsp; <i>code &agrave; effectuer si condition vraie</i><br /> &nbsp;&nbsp; <b>if </b>(Condition#2){<br />&nbsp;&nbsp;&nbsp;&nbsp;<i>portion &agrave; ex&eacute;cuter si condition #2 vraie</i><br/>&nbsp;&nbsp;}<br/>} <br /><b>else </b>{<br />&nbsp;&nbsp; <i>code &agrave; effectuer si condition fausse</i><br /> }</p>
<br />

<p> Il est aussi possible d'imbriquer plusieurs <b>if</b> et <b>else</b> dans notre code.</p>

<p> On peut retirer les accolades lorsque notre condition contient seulement une ligne de code .</p>
<p class="demo"> x=17;<br /><b>if </b>(x>10)<br /> &nbsp;&nbsp; <i>x--;</i></p>





