﻿<style>
b{
	color : green;
}
.com{
	color : grey;
}
.demo{
	margin : 10px;
	padding : 20px;
	border: 2px blue dotted;
	
}
</style>



<h3> Les strings en Python </h3>

<h5>Les chaînes de caract&egrave;re</h5>
<p> Si on veut utiliser des chaînes de caract&egrave;res en Python, on doit utiliser des <b>String</b>.</p>
<p>Le string est cr&eacute;&eacute; lorsqu'on mets les caract&egrave;res entre simple guillemet('') ou entre double guillemet("") </p>
<p class="demo"> <b>'</b> Bonjour! <b>'</b></p>

<p> Toutefois, certains caract&egrave;res ne peuvent pas être directement inclus dans la châine. &agrave; ce moment, nous devons ajouter le caract&egrave;re de la barre oblique invers&eacute;e devant le caract&egrave;re voulu.</p>

<p class="demo"> <b>"</b> Il fait beau ajourd<b>\'</b>hui.<b>"</b></p>

<p> Si on veut faire un saut de ligne dans notre chaîne, nous utilisons le caract&egrave;re <b>\n</b>. </p>

<p class="demo"> <b>"</b>Bonjour,<b>\n</b> Comment allez-vous?<b>"</b><br />
<i>Sortie : Bonjour,<br />Comment allez-vous? </i></p>
<br />

<p> Pour faire afficher la chaîne en mode console, on doit utiliser la m&eacute;thode <b>print</b></p>
<p class="demo"> <b>print("</b> Il fait beau aujourd<b>\'</b>hui.<b>")</b>
<br /><i>Sortie :Il fait beau aujourd'hui </i></p>

<p> Si on veut r&eacute;cup&eacute;rer un string saisi par l'utilisateur, on utilise la m&eacute;thode <b>input</b>.La valeur retourn&eacute;e doit être mise dans une variable. Cette m&eacute;thode nous permet d'afficher une instruction &agrave; l'utilisateur.</p>
<p class="demo"> <b>ma_chaine = input("</b> Saisir un nombre : <b>")</p>





