<style>
b{
	color : green;
}
.com{
	color : grey;
}
.demo{
	margin : 10px;
	padding : 20px;
	border: 2px blue dotted;
	
}
</style>



<h3> Introduction &agrave; Ruby </h3>

<h5>L'affichage en Ruby</h5>
<p> Afin de cr&eacute;er notre premier programme en Ruby, allons-y avec un classique!</p>

<p class="demo"> <b>puts</b> "Hello World" </p>

<p> C'est la m&eacute;thode <b>puts</b> qui nous permet d'afficher &agrave; l'&eacute;cran.<br />
On doit mettre entre guillemets la cha&icirc;ne de caract&egrave;re qu'on veut afficher.
Contrairement &agrave; d'autres langages, il n'est pas n&eacute;cessaire d'ajouter un caract&egrave;re &agrave; la suite de notre instruction.

<p> On peut aussi utiliser la m&eacute;thode <b>print</b>.

<p class="demo"> <b>print</b> "Hello World" </p>

<p> La diff&eacute;rence entre les deux m&eacute;thodes est que le <b>puts</b> va ajouter automatiquement une nouvelle ligne apr&egrave;s la sortie.
Ce n'est pas le cas avec la m&eacute;thode <b>print</b>. </p>
<br />
<h5>Les commentaires</h5>
<p> Pour ajouter un commentaire, on doit ajouter le symbole <b>#</b>.
<p class="demo"> <i class="com">#afficher bonjour le monde</i> <br /><b>print</b> "Hello World" </p>
<p> Ou si on veut ajouter plusieurs lignes de commentaire, on doit mettre le texte entre <b>=begin</b> et <b>=end</b>.</p>
<p class="demo"> <i class="com"><b>=begin</b> <br />&nbsp;&nbsp;&nbsp;&nbsp;afficher <br />&nbsp;&nbsp;&nbsp;&nbsp;bonjour le <br />&nbsp;&nbsp;&nbsp;&nbsp;monde <br /><b>=end</b></i> <br /><b>print</b> "Hello World" </p>
<br />
<h5>Les variables</h5>
<p>La variable est un espace de stockage pour une donn&eacute;e pr&eacute;cise.<br />
Pour assigner lui une valeur, on utilise le signe <b>=</b>. </p>
<p class="demo"> a = 10 </p>
<p>Par la suite, on peut utiliser la variable <i>a</i> dans notre programme.
<p class="demo"> a = 10<br /><b>puts</b> a<br /><i class="com">&nbsp;#sortie -> 10</i> </p>







