<style>
    b{
        color : green;
    }
    .com{
        color : grey;
    }
    .demo{
        margin : 10px;
        padding : 20px;
        border: 2px blue dotted;
        
    }
    </style>
    
    
    
    <h3> Les injections SQL </h3>
    
    <h5>Qu'est ce que sont les injections SQL</h5>
    <p> Un injection SQL est une requ&ecirc;te sql qui peux affecter la base de donnn&eacute;es d'un site web</p>
    <p>L'injection SQL est la vuln&eacute;rabilit&eacute; la plus populaire!</p>    
    <p class="demo"> <b>' or 1=1# </b>Ceci est la premi&egrave;re requ&ecirc;te qu'on peux faire pour voir son peux injecterer la base de donnn&eacute;es
        <br />Cette requete rent la requ&ecirc;te vrai, ce qui peux donner acc&egrave;s &agrave; un site s'il n'y a pas de s&eacute;curit&eacute; appliqu&eacute; dans le code de la page.<br /></p>
    
    <p>Une solution aux injections est de faire des d&eacute;clarations pr&eacute;par&eacute;es dans le PHP de la page.</p>    
    <p class="demo"> sql pr&eacute;par&eacute; et param&egrave;tre li&eacute;<br>
        $stmt = $conn-><b>prepare</b>("INSERT INTO MyGuests (firstname, lastname, email)  <br>
        VALUES (:firstname, :lastname, :email)"); <br>
        $stmt-><b>bindParam</b>(':firstname', $firstname); <br>
        $stmt-><b>bindParam</b>(':lastname', $lastname); <br>
        $stmt-><b>bindParam</b>(':email', $email);
    
    
    <p> Il est important de s&eacute;curiser ses pages web, parce que les bases de donnn&eacute;es ont des informations importantes qui ne doivent pas &ecirc;tre divulg&eacute;es.</p>
    <p> Il y a beaucoup de sites qui ont &eacute;t&eacute; pirat&eacute;s, et des informations sensibles ont &eacute;t&eacute; divulgu&eacute;es. </p>
    <p>Equifax est un bon exemple, o&ugrave; des informations personelles ont &eacute;t&eacute; pirat&eacute;es.</p>
    
    
    
    
    
    