body{

	background-color : lightgray;
}

.domaine{

	background-color : white;
	margin : 20px;
	border-left:15px solid black;
	border-color: black;
	border-radius : 1px;
}
.row{
	color : green;
	margin : 30px;
	padding : 30px;
	font-family : arial;
	font-size : large;
	text-indent : 50px;
}

h3{
	text-align : center;
	color : blue;
	text-color : blue;
	
}

.domaine:hover{
	background-color : #555;
	color : white;
}

p{
	font-style :oblique;
}