/*#banner {
  width : 100%;
  height : 20px;
  background-image : linear-gradient(blue, gray);
  display : table;
  padding :0;
  margin-top:0;
  
}
#menu li{
	display : table-cell;
	width: 200px;
	
	
}

#menu a{
	color : white;
	text-decoration : none;
	display : inline-block;
	line-height : 50px;
	padding-left : 10px;
	padding-right : 10px;
	font-family: sans-serif;
}

.compte{
	
	position : absolute;
	right : 5px;
	
}
h2{
	color : white;
	text-align: center;
	margin : 50px;
	font-family : Arial;
}
li a:hover {
  background-color: #555;s
  color: white;
}*/
/* 
body{

	background-image: url("coding.JPG");
	background-repeat: no-repeat;
	background-size: 100%

} */
#LoginForm{
	position: absolute;
    top: 30%;
    left: 0;
    width: 95%;
    height: 50%;
		padding: 1.5rem 2.5rem;
		text-align: center;
		
}
#signupForm{
	position: absolute;
    top: 10%;
    left: 0;
    width: 95%;
    height: 50%;
    padding: 1.5rem 2.5rem;
    text-align: center;
}
#login {
	position: relative;
	left:850px;
	
}
#signUp {
	position: relative;
	left: 1080px;
}
#images{
	position: relative;
	left: 300px;

}
.warningMessage{
	color: red;
}
#code{
	position: absolute;
	margin-left: 50px
	
}
